body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-image: url('https://cdn.pixabay.com/photo/2024/05/23/09/12/ai-generated-8782740_1280.jpg');
    /* 替换为图片实际路径 */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
}

header,
footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    background: white;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    box-sizing: border-box;
}

form input,
form textarea {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    resize: vertical;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

form button {
    background: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: gray;
}

header,
footer {
    background: radial-gradient(black, transparent);
    color: white;
}

main {
    background: radial-gradient(gray, transparent);
    color: white;
}

a {
    color: white;
}

img {
    background-color: transparent;
}

.logo {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.logo>img {
    width: 150px;
    position: relative;
    top: 0;
    left: 0;
}

.logo>div {
    flex-grow: 1;
    transform: translateX(-70px);
}

main {
    color: gainsboro;
}